.item {
  display: flex;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(185, 180, 180);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.online {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}

.offline {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.avatar {
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.name {
  font-size: 24px;
}
